<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link href="/static/frontend/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <title>login</title>
</head>
<body>
<section class="section">
    <div class="container">
        <div id="app" class="columns"><!-- React --></div>
    </div>
</section>
</body>
{% load static %}
<script src="{% static "frontend/main.js" %}"></script>
<script src="/static/frontend/vendor/jquery/jquery.min.js"></script>
<script src="/static/frontend/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Plugin JavaScript -->
<script src="/static/frontend/vendor/jquery-easing/jquery.easing.min.js"></script>
</html>